.listItem{
  border-style: none !important;
  color: #0F346C !important;
  border-radius: 2px !important;
}

.listItemActive{
  background-color: #0F346C !important;
  color: white !important;
  border-radius: 2px !important;
  /* font-weight: 600 !important; */
}
.listItem:hover{
  color: white !important;
  background-color: #6b96d6 !important;
  /* font-weight: 600 !important; */
}