.imgsquareSm{
  position: absolute;
  height: 23% !important;
  width: auto;
  cursor: pointer; 
  left: -50%;
  transform: translateX(50%);
}
.imgsquareLg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100% !important;
  max-width: none !important;
  transition: transform .1s ease-in-out;
}
.outerImgDiv{
  position: relative;
  margin: 3px;
  padding-bottom: 100%;
  overflow: hidden;
}


